

#imagedisplay {
    background: url("images/tennant-ck-naaja.jpg") center/cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    width: 100%;
    height: 200px;
    padding: 16px;
}

.imagedisplay__title {
    font-family: 'Roboto Slab', serif;
    padding: 0px;
    margin: 12px;
    color: #ececec;
    font-weight: bold;
    font-size: 25px;
    bottom: 0;
    position: absolute; 
}

.main-content {
    margin: 20px 5px;
    padding: 5px;
    height: auto;
    border: 1px solid #AAABB8;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
} 

#content__freecall h1 {
    padding: 10px;
    margin: 0;
    text-align: center;
}


.main-content__title {
    padding: 5px;
    margin: 0;
    font-size: 20px;
}
.main-content__title h1 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px
}

.main-content__img-container__card1 {
    background: url("images/abo_kangaroo.jpg")center/cover ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    width: 100%;
    height: 150px;
    padding: 0;
}

.main-content__img-container__card2 {
    background: url("images/abo_art.jpg")center/cover ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    width: 100%;
    height: 150px;
    padding: 0;
}

.main-content__img-container__card3 {
    background: url("images/karlangu.jpg")center/cover ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    width: 100%;
    height: 150px;
    padding: 0;
}

.main-content__description {
    display: none; 
    font-family: 'Work Sans', sans-serif;
}

.main-content__buttons ul {
    padding: 5px;
    margin-top: 10;
    margin-bottom: 0;
    border-top: 1px solid #AAABB8;
}

.main-content__buttons a {
    text-decoration: none;
}

.main-content__button {
    list-style: none;
    display: inline-block;
}

.main-content__expand-collapse-botton {
    background-color: white;
    border-radius: 8px;
    color: rgba(173, 43, 199, 0.987);
    margin: 0 5px;
    padding: 8px 20px;
    font-weight: bold;
    cursor: pointer;
}


.main-content__expand-collapse-botton:focus {
    outline: none;
}

@media (min-width:1024px) {

#imagedisplay {
    height: 250px;
}

.imagedisplay__title {
    font-size: 35px;
}

.content {
    margin-bottom: 50px;
    text-align: center;
    background: none;
} 

.main-content {
    display:inline-block;
    width: 30%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: none;
}

.main-content:hover,
.main-content:active {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    background: #ebedee;
}

.flex-container-content {
    display: flex;
    flex-direction: row;
    height: 400px;
}

.flex-container-main-content {
    height: 350px;
    width: 500px;
    margin: 20px;
}

.main-content__buttons ul {
    text-align: left;
}

.main-content__description {
    text-align: left;
    display: block;
}

.main-content__buttons {
    display: none;
}

}

