@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

* {
    box-sizing: border-box;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.main-header {
    width: 100%;
    background: #373737;
    padding: 8px 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 1.6px;
    background: white;
    display: block;
    margin: 0.4rem 0;
}

.main-header__brand {
    color: #ececec;
    text-decoration: none;
    /* font-weight: bold; */
    font-size: 22px;
    height: 22px;
    display: inline-block;
}

.main-header__brand img {
    height: 100%;
    position: relative;
    top: 2px;
}

.main-nav {
    display: none;
}

.brand {
    padding-left: 200px;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: #ececec;
    padding: 3px 0;
}

#content__freecall {
    color: #984b43;
    padding: 10px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: #659dbd;  
    border-bottom: 3px solid #659dbd;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a:active {
    color: white;
    background: #3583af;
    padding: 8px 16px;
    border-radius: 8px;
}


.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:active {
    color: #3583af;
    background: #bc986a;
    border-bottom: none;
    width: 250px;
}

.main-nav__item--cta,
.mobile-nav__item--cta {
    border-bottom: 3px solid #659dbd
}

.main-footer {
    background: #373737;
    padding: 10px;
}

.main-footer__title {
    color: #AAABB8;
}

.main-footer__description {
    color: #ececec;
}

.main-footer__list {
    list-style: none;
    color: #ececec;
    width: 250px;
}

.main-footer__list a {
    text-decoration: none;
    color: #ececec;
}

.main-footer__list3 a {
    text-decoration: none;
    color: #AAABB8;
}

.sec-three__lists {
    text-align: center;
}

.sec-three__lists li {
    padding: 10px;
    margin: 10px;
    list-style: none;
}

.sec-three__lists,
.sec-two__lists {
    padding: 0;
}

.Blog {
        background-color:rgba(251, 143, 61, 0.3);
    }

    .Facebook {
        background-color:rgba(59, 89, 152,0.3);
    }

    .Google {
        background-color:rgba(221, 75, 57,0.3);
    }

    .RSS {
        background-color:rgba(255, 153, 0,0.3);
    }

    .Twitter {
        background-color:rgba(0, 172, 237,0.3);
    }

    .YouTube {
        background-color:rgba(187, 0, 0,0.3);
    }

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: #17252a;
  width: 250px;
  height: 700px;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: left;
}

.mobile-nav__item {
  margin: 16px 0;
  border-bottom: 2px solid white;
}

.mobile-nav__item a {
  font-size: 24px;
}

@media(min-width:360px) {

.brand {
    padding-left: 150px;
}

@media(min-width:425px) {

.brand {
    padding-left: 220px;
}

}

}
@media (min-width: 1024px) {

.toggle-button {
    display: none;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 160px);
    vertical-align: middle;
}

.brand {
    padding-left: 0;
}

.flex-main-footer__sections {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 0;
}

.main-footer__lists {
    padding: 0;
    margin: 0;
    width: 300px;
    text-align: left;
    
}

.main-footer__list3 {
    display: inline-block;
    width: 30%;
    text-align: center;
}

.sec-three__lists li {
    padding: 10;
    margin: 2px;
    cursor: pointer;
}

}
